/* table, th, td {
    border: 1px solid black;
}
th {
    cursor: pointer;
} */
body {
  padding: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.outer-container {
  border: 3px solid #eee;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  align-self: flex-end;
  background-color: #eee;
  width: 6em;

}
h1 {
  padding: 0;
  margin: auto;
  font-size: 1.7em;

}

#form-one {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid green;
  background-color: #eee;
  max-width: 25em;
  margin: 2em;
  padding: 0.8em;
}

#form-one > div {
  margin: 0.3em;
  /* padding: 0.3em; */
}

.table-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid blue;

}
.above-table {
  display: flex;
  justify-content: space-between;

}

.above-table > div {
  font-weight: bold;
}

table, th, td {
    border: 1px solid yellow;
    border-collapse: collapse;

}
th, td {
    padding: 10px;
}
table#table-one tr:nth-child(even) {
    background-color: #eee;
}
table#table-one tr:nth-child(odd) {
    background-color: #fff;
}
table#table-one th {
    color: black;
    background-color: rgb(199, 203, 204);
}
